
<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap" rel="stylesheet">
<!-- GET JQUERY -->
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<!-- BOOTSTRAP -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<!-- BOOTSTRAP TOGGLE -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- STYLES -->
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
<!-- LINK JS FILE -->
<script type="text/javascript" src="index.js"></script>
<title>Freestyle for the Introverted and Self-Conscious</title>
</head>
<body>

  <div class="title-wrapper">
    <div class="titles">
      <h1>Starting DDR/DRS/Pump Freestyle for the Introvert and Self-Conscious</h1>
      <h2>Understanding the mental roadblocks of freestyle and taking healthier steps to freestyling regularly</h2>
    </div>
  </div>

  <div class="container">
<!-- I -->
    <div class="section">
      <div class="header">
        <!-- <div class="number-wrapper">1</div> -->
        <h3>I kind of want to start freestyling, but...</h3>
        <h4>Protecting your mental health with a safe environment</h4>
      </div>
      <div class="text">
        <div class="p-header">Find a group to freestyle with</div>
        <p>If you take only one thing away from this guide, this needs to be it. Not having a group to freestyle with is the number one reason you're not freestyling. It's also the reason you tell yourself you're going to freestyle, but back out of the idea and proceed to play normally, or even dodge playing entirely, flushed with embarrassment for having considered something so ludicrous.</p>
        <div class="p-header">Why it’s important to freestyle with a group</div>
        <p>It's absolutely terrifying to be unnatural in public. It's only when you witness others being unnatural that the unnatural begins to seem natural, and you begin to feel comfortable engaging with it. It's for the same reason you might feel anime cons are a safe environment for you to enjoy your weird indulgences.</p>
        <p>Unfortunately, because most freestylers don't even freestyle in public, it's almost impossible to find a preconstructed freestyle group. It then falls to you to deceive yourself into believing that freestyle is the norm. You'll need to build a safe space for yourself by creating a group consisting of people equally interested in freestyle. The idea is to simulate a compact anime con environment to feel less afraid, less embarrassed, less awkward, and to reduce the impact from the disrespect you'll receive from onlookers.</p>
        <div class="p-header">When you create your group, ideally:</div>
        <ul>
          <li><span class="bp"></span>Your group consists of 2-3 others willing to improve or begin freestyle.</li>
          <li><span class="bp"></span>Your group consists of others who want to see you improve.</li>
          <li><span class="bp"></span>Your group consists of others who are at least generally okay as humans.</li>
          <li><span class="bp"></span>Your group does not consist of anyone who makes you or anyone else in your group feel inferior--whether it's because you're intimidated by their skill level, or because they're disrespectful or hurtful.</li>
        </ul>
        <div class="p-header">If you are unable to find others to freestyle with:</div>
        <ul>
          <li><span class="bp"></span><span class="strong">Try the <a href="https://twitter.com/FSTakeover" target="_blank">@FSTakeover</a> Discord.</span> That's pretty much <span class="italic">the</span> English-speaking freestyle community.</li>
          <li><span class="bp"></span><span class="strong">Definitely try freestyling on your own, but--</span> Recognize that there may come a point where you'll feel too awkward, terrified, or embarrassed to continue, and trying to push through the fear may not be healthy or worthwhile. But also recognize that this fear can be mitigated with a decent group, and that you shouldn't deny yourself the opportunity to try again if you manage to come across a setting that works for you.</li>
          <li><span class="bp"></span><span class="strong">If your luck is incredible and you come across other freestylers in the wild,</span> you'll more than likely be welcome to join their session if you ask politely. The community is always excited to see new freestylers, and rejecting them is one of the most damaging things anyone can do to the community.</li>
        </ul>
        <div class="p-header">If you're already freestyling without a group:</div>
        <p>Consider yourself fortunate to not have to deal with more intense levels of self-consciousness.</p>
      </div>

      <div class="section-div"></div>
    </div>
<!-- II -->
    <div class="section">
      <div class="header">
        <!-- <div class="number-wrapper">1</div> -->
        <h3>Which difficulty do I choose?</h3>
        <h4>Prioritizing Beginner(DDR), Easy(DRS), and Whatever the Lowest Difficulty is Called on Pump(Pump)</h4>
      </div>
      <div class="text">
        <div class="p-header">Play on the lowest difficulty</div>
        <p>When you start freestyling, you might be immediately more comfortable with the guidance provided by higher difficulties--especially if you feel that you're more footwork-oriented--and doubly especially if you've been inspired by DRS shuffling videos--and triply especially if you've only ever been inspired by DDR and Pump freestyle videos of the 90s and early 2000s.</p>
        <div class="p-header">Ignore all that and play on the lowest difficulty.</div>
        <p>As difficulty lowers, game complexity decreases and game depth increases. On low difficulty, dance games are less about the hard numbers and more about the manifestation of your creativity, granting you with the open space required to find or be yourself.</p>

        <div class="p-header">My masculinity instructs me to believe that finding and being myself is nonsense
        and/or
        My Infatuation with 90s/00s Korean Freestylers is too powerful and I want to freestyle just like them and they play on higher difficulties and I believe I can become them by mimicking their difficulty selection
        and/or
        I wasn't born Japanese or Korean, but I definitely am both and I can prove it through my skill in gaming and we're known for being good at games so I'm going to be embarrassed if anyone catches me playing on low difficulty
        and/or
        I want some non-abstract reasons to freestyle on Beginner/Easy over other difficulties
        </div>
        <ul>
          <li><span class="bp"></span><span class="strong">It's significantly harder to fail:</span> One of the most awkward moments in freestyle is when the song abruptly ends during a performance and you feel your spectators judging you as you walk offstage. Reduce the possibility of failure and having to cope with that whole situation by playing on lower difficulties.</li>
          <li><span class="bp"></span><span class="strong">fear less, smile more / Don't let yourself be too afraid of your lifebar:</span>
            By playing on lower difficulties, you can easily avoid feeling the unwanted tension and agitation that occurs as the entire screen begins blasting red at you. A flashing red screen pulls attention towards itself, and away from your performance. It changes the spectators' interest from the performance to whether the performer can survive to the end of the song.</li>
          <li><span class="bp"></span><span class="strong">Backwards compatibility:</span> On Beginner/Easy, you're free to perform the same footwork you'd perform on higher difficulties, but you're also given more freedom to deviate from footwork patterns you might find yourself falling back on. You can start applying any new techniques you learn instantly with the spaciousness lower difficulties provide.</li>
          <li><span class="bp"></span><span class="strong">Exercise musicality:</span> Dance games standardize the way in which you listen to music as their stepcharts generally follow either the kick or the melody. If a layer of the music not highlighted through stepcharts stands out to you, you'll have the freedom to capture and express that on Beginner/Easy without the friction you’d encounter from higher level stepcharts.</li>
          <li><span class="bp"></span><span class="strong">Go big:</span> Because you're less restricted to your side of the stage on lower difficulties, you're free to utilize the entire stage and experiment with larger, fuller motions.</li>
          <li><span class="bp"></span><span class="strong">Nobody's ever judged for their chart difficulty:</span> The majority of your audience cannot tell the difference between the lowest difficulty and the next difficulty up. And if you're putting on a performance, your spectators won't care what difficulty you're playing on. They'll take glances at the screen to determine whether you're really hitting the notes, but their main focus will be on you. Try to push past the thought of being judged for your difficulty selection. If spectators mock you, it won't be for chart difficulty.</li>
        </ul>
      </div>

      <div class="section-div"></div>
    </div>
<!-- III -->
    <div class="section">
      <div class="header">
        <!-- <div class="number-wrapper">1</div> -->
        <h3>I don't know what to do between notes/arrows/steps!</h3>
        <h4>Owning the music and becoming the protagonist</h4>
      </div>
      <div class="text">
        <div class="p-header">Notes don't dictate when to move, nor do they necessarily dictate how to move</div>
        <p>When you start freestyling on lower difficulties, you'll likely feel awkward during the gaps between notes. You might freeze up in uncertainty, or begin talking, or make awkward gestures in an attempt to communicate to your spectators that it's not your fault--that the game's the cause of this awkward moment. You might fear that your spectators feel awkward watching you await your next note--even if you have no spectators.</p>
        <p>There's no antidote for feeling this way, but you can prevent it. Freestyle is a moment about you. Avoid giving notes center stage by continuously performing through the gaps between them. Performing only when a note appears and halting performance where gaps exist changes the protagonist from you to the game--and that's not freestyling as much as it is playing tech with some flair.</p>

        <div class="p-header">If "Continuously perform through the gaps" is too nebulous, here are some things you can do between notes:</div>
        <ul>
          <li><span class="bp"></span><span class="strong">Continue playing as if there are notes during the gaps:</span> Perform how you normally would if given a stream of notes to hit. Because these notes don't exist, you are free to apply your performance to parts of the stage you wouldn't normally touch.</li>
          <li><span class="bp"></span><span class="strong">Face the audience:</span> Even a quick spin during a gap between notes will grab the attention of your spectators. If you like the idea of momentarily facing the audience but are unable to commit to it, select a point in the distance before you begin your performance. Ignore the spectators and lock your eyes to your selected point whenever you decide to turn towards the spectators.</li>
          <li><span class="bp"></span><span class="strong">Move your arms with intent:</span> Bring contrast to your performance with upper body movement. With a lower note count, lower difficulties allow you to focus on creating expression with your arms during note gaps.</li>
        </ul>
      </div>

      <div class="section-div"></div>
    </div>
<!-- IV -->
    <div class="section">
      <div class="header">
        <!-- <div class="number-wrapper">1</div> -->
        <h3>I don't know what to do with my arms!</h3>
        <h4>Utilizing your upper body and adding additional flair</h4>
      </div>
      <div class="text">
        <div class="p-header">It's very normal to be afraid of moving your arms</div>
        <p>It's surprising that many people still only consider freestyle to be rad footwork--but it's also understandable when taking into consideration "I don't know what to do with my arms" is a very common issue that's often answered with, "Do whatever you want!"
        This answer is so tremendously vague, many of the players told to "Do whatever you want" disregard it and never really bother to work arms into their performance.</p>
        <p>Because it's not standard procedure to utilize your arms during DDR/DRS/Pump outside of the two arm movements Proper Shufflers do, you will feel absolutely embarrassed
        moving your arms with purpose. Plus, it's just much easier to not give your arms any consideration, to hope it works out in the end, and to figure your arms probably look good anyway while doing the unintentional dangling backwards scoop.</p>

        <div class="p-header">Some starting points to get your arms feeling like they're part of your freestyle:</div>
        <ul>
          <li><span class="bp"></span><span class="strong">Write your way out:</span> Before you start a song, think of a phrase. Write that phrase in the air while you perform. Note that the goal is not to finish writing your phrase before the song ends, but to feel comfortable using your arms. Take your time writing each character.</li>
          <li><span class="bp"></span><span class="strong">Object-oriented freestyling (OOF):</span> Think of an object before you start a song. Imagine that you're in possession of the object during the song. Imagine the different ways you can interact with the object, and recreate those interactions during your performance.</li>
          <li><span class="bp"></span><span class="strong">Call to Action:</span> Every 4-8 counts, a member of your group names an occupation. Embody the occupation during your performance, only breaking character once another occupation is named. If you're given "Knight," wield your sword, block incoming arrows, and die for your queen. If you're given "Ninja," attack twice, then dislocate your arms and run around the stage.</li>
        </ul>

        <p>Be aware that these methods won't help with the embarrassment you'll definitely feel when you first engage your arms. That's just something that will dissipate over time.</p>
      </div>

      <div class="section-div"></div>
    </div>

<!-- V -->
    <div class="section">
      <div class="header">
        <!-- <div class="number-wrapper">1</div> -->
        <h3>I keep getting told to "Just feel the music." And that's not helpful</h3>
        <h4>What to do with the "Just feel the music" advice</h4>
      </div>
      <div class="text">
        <div class="p-header">I heard this before</div>
        <p>You're going to get this answer a lot when you ask how to do freestyle-related things. It's a surprisingly useless answer for how often it comes up, as those who already know what feeling the music means won't need to be told to "Just feel the music," and "Just feel the music" doesn't mean anything to the people who need to be given that answer.</p>

        <div class="p-header">What "Just feel the music" usually means</div>
        <p>--is to imagine the music as movement and to replicate that movement with your being. What's really disappointing however, is that knowing what "Just feel the music" means won't actually help you "Just feel the music."</p>

        <p>But what will help, is to ask anyone who tells you to "Just feel the music" to show you what "Just feel the music" means to them. Then be sure to watch with your eyes and ears, as anyone who gives you that answer will perform in a way where their movements feel like an extension of the music.</p>

        <p>Exposure to different interpretations of "Just feel the music" will eventually get it to click. And once it clicks, your performance of "Just feel the music" might not immediately feel like it meets the standards of someone else's "Just feel the music." And it never will. Even as you improve, your "Just feel the music" will always be unique.</p>

        <p>That's just a constant in freestyle and a reason it's a distinct artform that's difficult to understand and rejected by nearly everyone. As an added bonus, once you understand how to "Just feel the music," you'll likely have found your preferred difficulty, you'll be performing during the gaps between notes, you will know how to "Just do whatever" with your arms, and you won't need this guide anymore.</p>

        <p>By the way, "Just feel the music" doesn't work when you can't really hear the music, Eastridge Mall Round 1.</p>
      </div>

      <div class="section-div"></div>
    </div>

<!-- VI -->
    <div class="section">
      <div class="header">
        <!-- <div class="number-wrapper">1</div> -->
        <h3>Okay thanks</h3>
        <h4>Let's close this out</h4>
      </div>
      <div class="text">
        <div class="p-header">Seriously, find a group to freestyle with</div>
        <p>Unless you're already freestyling, none of these steps are going to work very well without completing the first step: <span class="strong">Find a group to freestyle with.</span></p>

        <p>Unfortunately, it's a very difficult first step to complete. It's understandable if you're unable to find a group to freestyle with, or feel that finding a group is too much trouble. It's because freestyling in public is so troublesome and difficult that the scene has been on its deathbed since the launch of the Dreamcast.</p>

        <div class="p-header">I know all this but want to know more and/or There's something else I want to know</div>
        <p>If you have freestyle-related questions, or want to be a part of the community, join the <a href="https://twitter.com/FSTakeover" target="_blank">@FSTakeover</a> Discord.</p>

        <p>If you're really brave, you can also reach out to anyone who does freestyle to ask them directly.</p>

        <p>If you're already familiar with freestyle and want to improve, consider looking into <a href="https://twitter.com/FSTakeover" target="_blank">@FSTakeover's</a> style guide to sharpen your presence.</p>
      </div>

      <div class="section-div"></div>
    </div>

  </div>
</body>
</html>
